<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.css" rel="stylesheet">

    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.js"></script>

    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>

    <title>Document</title>
</head>
<body>


  
      
      <nav class="bottom">
        <a>
          <i>login</i>
          <div>Ingresa</div>
        </a>
        <a>
          <i>person</i>
          <div>Crea tu cuenta</div>
        </a>
        <div class="large-space"></div>
        <a class="small-round">
          <i>add</i>
          <div>Nueva nota</div>
        </a>
      </nav>


      <main class="responsive">
        <!--Esto es el componente todoitem-->
        <!-- <div class="grid small-space">
            <div class="s10">
                <article class="border round">
                    <h5>Title</h5>
                    <p>Some text here</p>
                    <nav>
                        <button><i>edit</i></button>                        
                        <button> <i>delete</i></button>
                      </nav>
                  </article>                  
            </div>

        </div> -->
        <!--Form de credenciales-->
        <!-- <form action="">
        <fieldset>
            <legend>Ingresa tus credenciales</legend>
            <div class="field border label">
              <input>
              <label>Correo electronico</label>
            </div>
            <div class="field border label">
                <input>
                <label>Contrasena</label>
              </div>
              <div class="middle-align center-align">
              <button class="responsive">Ingresar <i>login</i></button>
            </div>
          </fieldset>
        </form> -->

        <!--Lo de notas-->
         <form action="">
            <h1>Nueva nota</h1>
            <fieldset>
                <legend>Completa todos los campos</legend>
                <div class="field border label textarea">
                    <textarea></textarea>
                    <label>Ingrese su nota</label>                    
                  </div>                
                  <div class="field border label">
                    <select>
                      <option>Alta</option>
                      <option>Media</option>
                      <option>Baja</option>
                    </select>
                    <label>Prioridad</label>
                  </div>
                  <label class="checkbox">
                    <input type="checkbox">
                    <span>Completada</span>
                  </label>
                  <div class="middle-align center-align">
                  <button class="responsive">Guardar <i>save</i></button>
                </div>
              </fieldset>
            </form> 


            <div class="grid small-space">
              <div class="s10">
                  <article class="border round">
                      <h5>Title</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, cupiditate culpa recusandae sapiente ex dolor fugiat libero pariatur magnam? Veniam veritatis incidunt iusto quis error. Deserunt, rem! Sit, cum perspiciatis.
                      Molestias totam, nihil accusantium adipisci nam incidunt, necessitatibus nostrum dignissimos temporibus vero provident magni est recusandae fuga libero voluptatem aliquam, itaque atque neque officiis architecto? Facilis deserunt ea necessitatibus veniam?
                      Animi provident nihil eum officiis omnis. Tenetur blanditiis inventore doloremque! Magnam nisi autem illum veniam. Necessitatibus aliquam blanditiis quis nostrum minus quas sit voluptas dolor asperiores, reprehenderit quam accusantium dolore.</p>
                      <nav>
                          <button><i>edit</i></button>                        
                          <button> <i>delete</i></button>
                        </nav>
                    </article>                  
              </div>
  
          </div>

    
      </main>

</body>

</html>